{% extends 'admin/admin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <div class="table-responsive">

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Pseudo</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ user.prenom }}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ user.mail }}</td>
                </tr>
                <tr>
                    <th>Photo</th>
                    <td>
                        {% if user.photo %}
                            <img src="{{ user.photo }}" alt="{{ user.username }}" class="img-fluid w-25" />
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="btn btn-outline-info" class="btn btn-info" href="javascript:history.back()">Retour</a>


    <a class="btn btn-outline-warning" href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>

    <form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn btn-outline-danger">Delete</button>
    </form>

    {# {{ include('/admin/user/_delete_form.html.twig') }} #}
{% endblock %}
