{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}
{% block body %}

<div >
    <h1>{{ user.nom|capitalize }} {{ user.prenom|capitalize }}</h1>
     
    <div class="text-center mb-5">
        {% if user.photo %}
            <img src="{{user.photo}}" id="imgTable_Samm" alt="{{ user.nom }}">
        {% else %}
            <img src="{{asset("img/avatar-neutre.png")}}" class="img-fluid" alt="pas de photo">
        {% endif %}

        <div>Pseudo : {{user.username}}</div>
        <div>Nom : {{user.nom}}</div>
        <div>Prénom : {{user.prenom}}</div>
        <div>E-mail : {{user.mail}}</div>
    </div>

   <div class="d-flex justify-content-around my-3">
        <a href="{{ path('app_edit', {'id': user.id}) }}" class="btn btn-vert-connexion_Samm"> Modifier mes informations</a>
        <a href="{{ path('app_annonce', {'id': user.id}) }}" class="btn btn-vert-connexion_Samm">{{nbAnnonce}} annonces</a>
        <a href="{{ path('app_conseil', {'id': user.id}) }}" class="btn btn-vert-connexion_Samm">{{nbConseil}} conseils</a>  
        <a href="{{ path('app_avis', {'id': user.id}) }}" class="btn btn-vert-connexion_Samm">{{nbAvis}} commentaires</a>  
   </div>
   
{% endblock %}
