{% extends 'base.html.twig' %}

{% block title %}Liste des annonces
{% endblock %}

{% block body %}
	<h1>Les annonces</h1>
	<a class="btn btn-outline-info ms-5" href="javascript:history.back()">Retour</a>
	{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
		<a class="btn btn-outline-success" href="{{ path('annonce_new') }}">Créer une annonce</a>
	{% endif %}

	<div class="d-flex flex-wrap justify-content-around">
		{% for annonce in annonces %}

			<div class="card m-2" >
				{% if annonce.photo %}
					<a href="{{ path('annonce_show', {'id': annonce.id}) }}">
						<img src="{{ annonce.photo  }}" class="img-fluid card-img-top" alt="{{ annonce.titre|raw }}"/>
					</a>
				{% else %}
            		<img src="{{asset("img/no-image-found.png")}}" class="img-fluid" alt="pas de photo">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ annonce.titre|raw }}</h5>
					<div class="card-text">
						<div class="d-flex justify-content-between">
							<p>{{ annonce.ville|raw  }}</p>
							<p>{{ annonce.nombreVue }} vues</p>
						</div>
						<a class="btn btn-vert-creation_Samm " href="{{ path('annonce_show', {'id': annonce.id}) }}">Détail</a>
					</div>
				</div>
			</div>

			{% else %}
				<div class="m-5 p-5">
					<p>Aucune annonce</p>
				</div>
		{% endfor %}
	</div>

{% endblock %}
