{% extends 'base.html.twig' %}

{% block title %}Annonce index
{% endblock %}

{% block body %}
	<h1>Annonce</h1>

	<div class="d-flex flex-wrap ">

		{% for annonce in annonces %}

			<div class="card m-2" style="width: 18rem;">
				{% if annonce.photo %}
					<img src="{{ annonce.photo }}" class="card-img-top" alt="{{ annonce.titre }}" class="img-fluid"/>
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ annonce.titre }}</h5>
					<div class="card-text">
						<div class="d-flex justify-content-between">
							<p>{{ annonce.user }}</p>
							<p>{{ annonce.nombreVue }} vues</p>
						</div>
					</div>
					<a class="btn btn-info" href="{{ path('annonce_show', {'id': annonce.id}) }}">show</a>
				</div>
			</div>

		{% else %}
			<div>
				<p>no records found</p>
			</div>
		{% endfor %}


	</div>
	{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
		<a class="btn btn-info" href="{{ path('annonce_new') }}">Create new</a>
	{% endif %}

{% endblock %}
