{% extends 'base.html.twig' %}

{% block title %}Liste des annonces
{% endblock %}

{% block body %}
	<h1>Les annonces</h1>
	<a class="btn btn-outline-info " href="javascript:history.back()">Retour</a>
	{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
		<a class="btn btn-outline-success" href="{{ path('annonce_new') }}">Créer une annonce</a>
	{% endif %}

	<div class="d-flex flex-wrap ">

		{% for annonce in annonces %}

			<div class="card m-2" style="width: 18rem;">
				{% if annonce.photo %}
					<img src="{{ annonce.photo }}" class="card-img-top" alt="{{ annonce.titre }}" class="img-fluid"/>
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ annonce.titre }}</h5>
					<div class="card-text">
						<div class="d-flex justify-content-between">
							<p>{{ annonce.user }}</p>
							<p>{{ annonce.nombreVue }} vues</p>
						</div>
					</div>
					<a class="btn btn-vert-creation_Samm " href="{{ path('annonce_show', {'id': annonce.id}) }}">Détail</a>
				</div>
			</div>

		{% else %}
			<div>
				<p>Aucunne annonce</p>
			</div>
		{% endfor %}


	</div>
	

{% endblock %}
