{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>{{ annonce.titre }}</h1>

    <main class="d-flex flex-column justify-content-center">
        {% if annonce.photo %}
            <img src="{{ annonce.photo }}" alt="{{ annonce.titre }}" class="rounded mx-auto d-block h-50" />
        {% endif %}
        {#  on filtre annonce.description avec un raw pour nettoyer les balises HTML #}
        <div class="text-center my-4">{{ annonce.description|raw }}</div>

        <div class="d-flex justify-content-around">
            <p>Date de publication : {{ annonce.datePublication ? annonce.datePublication|date('l j Y ') : '' }}</p>
            <p>Publié par : {{ annonce.user }}</p>
            <p>Nombre de vue : {{ annonce.nombreVue }}</p>
        </div>
    </main>
            
    <a class="btn btn-info " href="javascript:history.back()">retour</a>
    {% if username == annonce.user or is_granted('ROLE_ADMIN') %}
        <a class="btn btn-warning" href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>

        {{ include('annonce/_delete_form.html.twig') }}
    {% endif %}
    

    
{% endblock %}
