{% extends 'admin/admin.html.twig' %}


{% block title %}Liste des conseils{% endblock %}

{% block body %}
    <h1>Liste des conseils</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>DatePublication</th>
                <th>NombreVue</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conseil in conseils %}
            <tr>
                <td>{{ conseil.id }}</td>
                <td>{{ conseil.titre }}</td>
                <td>{{ conseil.description }}</td>
                <td>{{ conseil.datePublication ? conseil.datePublication|date('d-m-Y H:i') : '' }}</td>
                <td>{{ conseil.nombreVue }}</td>
                <td>
                    {% if conseil.photo %}
                         <img src="{{ conseil.photo }}" alt="{{ conseil.titre }}" class="img-fluid" />
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-success" href="{{ path('conseil_show', {'id': conseil.id}) }}">Détail</a>
                    <a class="btn btn-warning" href="{{ path('conseil_edit', {'id': conseil.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun conseil</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
