{% extends 'base.html.twig' %}

{% block title %}Conseil index{% endblock %}

{% block body %}
    <h1>Conseil index</h1>
    <div class="d-flex flex-wrap ">


    {% for conseil in conseils %}

    <div class="card m-2" style="width: 18rem;">
        {% if conseil.photo %}
            <img src="{{ conseil.photo }}" class="card-img-top" alt="{{ conseil.titre }}" class="img-fluid" />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ conseil.titre }}</h5>
          <div class="card-text">
            <div class="d-flex justify-content-between">
                <p>{{ conseil.user }}</p>
                <p>{{ conseil.nombreVue }} vues</p>
            </div>
        </div>
          <a class="btn btn-info" href="{{ path('conseil_show', {'id': conseil.id}) }}">show</a>
        </div>
      </div>
    
    {% else %}
        <div>
            <p>no records found</p>
        </div>
    {% endfor %}  


</div>
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
		<a class="btn btn-info" href="{{ path('conseil_new') }}">Create new</a>
	{% endif %}

{% endblock %}
