{% extends 'base.html.twig' %}

{% block title %}Conseil{% endblock %}

{% block body %}
    <h1>Conseil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conseil.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ conseil.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conseil.description }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ conseil.datePublication ? conseil.datePublication|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>NombreVue</th>
                <td>{{ conseil.nombreVue }}</td>
            </tr>
            <tr>
                {# <th>Photo</th> #}
                {% if conseil.photo %}
                <img src="{{ conseil.photo }}" alt="{{ conseil.titre }}" class="img-fluid" />
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info mb-2" href="{{ path('conseil_index') }}">back to list</a>
    <a class="btn btn-info mb-2" href="{{ path('avis_new') }}">faire un commentaire</a>

    {% if username == conseil.user or is_granted('ROLE_ADMIN') %}
        <a class="btn btn-warning mb-2" href="{{ path('conseil_edit', {'id': conseil.id}) }}">edit</a>

        {{ include('conseil/_delete_form.html.twig') }}
    {% endif %}



    
{% endblock %}
