{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>

    <div class="table-responsive">
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>DatePublication</th>
                    <th>Active</th>
                    <th>NombreVue</th>
                    <th>User</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.titre }}</td>
                    <td>{{ annonce.description | slice(0,30)}}...</td>
                    <td>{{ annonce.datePublication ? annonce.datePublication|date('d/m/Y') : '' }}</td>
                    <td>{{ annonce.active ? 'Yes' : 'No' }}</td>
                    <td>{{ annonce.nombreVue }}</td>
                    <td>{{ annonce.user }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="{{ path('annonce_show', {'id': annonce.id}) }}">Détail</a>
                        
                        <a class="btn btn-outline-warning" href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                        
                        
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucunne annonce</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
